.main_card{
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 30px auto;
    background: #fafafa;
    transition: box-shadow .3s;
    float: left;
}
.main_card:hover {
  box-shadow: 0 0 11px rgba(70,70,70,.2); 
}

.thumb{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.thumb > img {
  height: 30vh;
  width: 40vw;
}